{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier",
    "react-hooks"
  ],
  "rules": {
    "prettier/prettier": "error",
    "jsx-a11y/anchor-is-valid": "off",
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "import/no-unresolved": "error",
    "no-console": "error",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "newline-per-chained-call": "error",
    "prefer-template": "error",
    "react/jsx-closing-bracket-location": "error",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js"
        ]
      }
    ],
    "react/jsx-first-prop-new-line": [
      "error",
      "multiline"
    ],
    "react-hooks/rules-of-hooks": "error",
    "quotes": [
      "error",
      "single"
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./src"
        ]
      }
    }
  }
}